body {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: #F0F0F0;
}

div.dl-info {
    padding: 0.1rem 0.3rem;
    border-lef: 1px solid #000;
    background-color: #F7F9F9;
    margin: 0.7rem 2.4rem 0.7rem 1.5rem;
    overflow: auto;
    float: right;
    line-height: 0.4rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #d6d6d6;
}
div.dl-info a { font-size: 0.9rem; text-decoration: none;}
div.dl-info a:hover {text-decoration: underline;}
div.dl-info time {
    border: 1px solid #fff8dc;
    background-color: #fff;
    padding: 5px;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
    border-radius: 5px;
    min-width: 70px;
    height: 15px;
    line-height: 15px;
    font-size: 0.8rem;}

.tm-page-width {
    margin: 0 auto;
    min-width: 320px
    background-color: #FFFFFF;
}

@media(min-width: 768px)and (max-width:1023px) {
    .tm-page-width {
        padding:0 16px;
        max-width: 768px
    }
}

@media(min-width: 1024px) {
    .tm-page-width {
        padding:0 24px;
        max-width: 1096px
    }
}

.tm-page-width_no-padding {
    padding: 0
}

.tm-page-width_full-width {
    max-width: 100%
}

.tm-title_h1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Fira Sans, sans-serif;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.3;
}

.tm-title {
    font-weight: 500;
    overflow-x: auto;
    word-break: break-word;
    margin: 0 22px 8px;
}

.tm-article-presenter__body {
    animation: fadein .3s;
    background-color: #FFF;
    position: relative;
    margin-bottom: 12px;
}
.tm-article-body {
    box-sizing: border-box;
    padding: 16px 14px;
    background-color: #FFF;
}
.article-formatted-body {
    color: #333;
    font-size: 1rem;
    line-height: 1.56;
    overflow-wrap: break-word;
}
.article-formatted-body h1, .article-formatted-body h2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
}
.article-formatted-body h3 {
    font-size: 1.125rem;
    line-height: 1.4375rem;
}

.article-formatted-body pre code {
    font-family: Menlo,Monaco,Consolas,Courier New,Courier,monospace;
    font-size: inherit;
    padding: 0;
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}
.article-formatted-body code {
    font-family: Menlo,Monaco,Consolas,Courier New,Courier,monospace;
    background-color: #F7F7F7;
    border-radius: 4px;
    overflow-wrap: break-word;
    padding: 3px 6px;
    white-space: break-spaces;
}
/* IMG */
.article-formatted-body img[data-src] {
    cursor: pointer;
}
.article-formatted-body img[align=right] {
    margin-bottom: 8px;
    margin-left: 32px;
    margin-top: 8px;
    max-width: 40%;
}

.tm-article-body img {
    color: #F0F0F0;
    font-size: .75rem;
    font-style: italic;
}

.article-formatted-body_version-1 img {
    background-color: #fff;
}

.article-formatted-body img {
    height: auto;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.article-formatted-body p {
    margin: 0;
    padding: 0;
}

/* TABLE */
.article-formatted-body .table_wrapped {
  margin-bottom: 24px;
  overflow-x: auto;
}
.article-formatted-body .table_wrapped {
  margin-bottom:24px;
  overflow-x:auto
}
.article-formatted-body table {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  margin:1.5em 0;
  min-width:100%;
  table-layout:fixed;
  width:auto;
  word-break:normal
}
.article-formatted-body table caption {
  text-align:left;
  text-indent:1em
}
.article-formatted-body table td,
.article-formatted-body table th {
  border:1px solid #C0C0C0;
  line-height:1.5;
  padding:6px 12px 9px;
  vertical-align:top
}
.article-formatted-body table td img,
.article-formatted-body table th img {
  height:auto;
  max-width:100%
}

/*ol, li */
.article-formatted-body ol li,
.article-formatted-body ol ol li,
.article-formatted-body ol ul li,
.article-formatted-body ul li,
.article-formatted-body ul ol li,
.article-formatted-body ul ul li {
  line-height:1.6;
  margin:6px 0;
  padding:0
}
.article-formatted-body ol li:first-child,
.article-formatted-body ol ol li:first-child,
.article-formatted-body ol ul li:first-child,
.article-formatted-body ul li:first-child,
.article-formatted-body ul ol li:first-child,
.article-formatted-body ul ul li:first-child {
  margin-top:0
}
.article-formatted-body ol li:last-child,
.article-formatted-body ol ol li:last-child,
.article-formatted-body ol ul li:last-child,
.article-formatted-body ul li:last-child,
.article-formatted-body ul ol li:last-child,
.article-formatted-body ul ul li:last-child {
  margin-bottom:0
}
.article-formatted-body ol,
.article-formatted-body ul {
  padding-inline-start:32px
}
.article-formatted-body ol ol,
.article-formatted-body ol ul,
.article-formatted-body ul ol,
.article-formatted-body ul ul {
  margin-top:9px
}

/* spoiler  */
.article-formatted-body_version-1 .spoiler .spoiler_title {
    margin-top: 12px;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
    text-underline-position: under;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #548EAA;
    cursor: pointer;
    display: block;
    -webkit-hyphens: auto;
    hyphens: auto;
    outline: 0;
    position: relative;
    padding: 16px 36px;
    box-sizing: border-box;
    width: 100%
}

.article-formatted-body_version-1 .spoiler .spoiler_title:before {
    border-color: transparent transparent transparent #548EAA;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    content: "";
    height: 0;
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 75% 25%;
    transition: transform .1s linear;
    width: 0
}

.article-formatted-body_version-1 .spoiler .spoiler_text {
    display: none;
    font-size: .9375rem;
    line-height: 1.5rem;
    margin: 10px 0 8px;
    padding: 0 36px 16px;
    box-sizing: border-box
}

.article-formatted-body_version-1 .spoiler_open>.spoiler_title:before {
    transform: rotate(90deg)
}

.article-formatted-body_version-1 .spoiler_open>.spoiler_text {
    display: block
}


.article-formatted-body h1,
.article-formatted-body h2,
.article-formatted-body h3,
.article-formatted-body h4,
.article-formatted-body h5,
.article-formatted-body h6 {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-family:Fira Sans,sans-serif;
  font-weight:500;
  margin:0;
  padding:0
}
.article-formatted-body h1 a,
.article-formatted-body h2 a,
.article-formatted-body h3 a,
.article-formatted-body h4 a,
.article-formatted-body h5 a,
.article-formatted-body h6 a {
  text-decoration:none
}
.article-formatted-body h1 a:active,
.article-formatted-body h1 a:hover,
.article-formatted-body h2 a:active,
.article-formatted-body h2 a:hover,
.article-formatted-body h3 a:active,
.article-formatted-body h3 a:hover,
.article-formatted-body h4 a:active,
.article-formatted-body h4 a:hover,
.article-formatted-body h5 a:active,
.article-formatted-body h5 a:hover,
.article-formatted-body h6 a:active,
.article-formatted-body h6 a:hover {
  color: #548EAA
}
.article-formatted-body h1 b,
.article-formatted-body h1 strong,
.article-formatted-body h2 b,
.article-formatted-body h2 strong,
.article-formatted-body h3 b,
.article-formatted-body h3 strong,
.article-formatted-body h4 b,
.article-formatted-body h4 strong,
.article-formatted-body h5 b,
.article-formatted-body h5 strong,
.article-formatted-body h6 b,
.article-formatted-body h6 strong {
  font-weight:inherit
}
.article-formatted-body h1 code,
.article-formatted-body h2 code,
.article-formatted-body h3 code,
.article-formatted-body h4 code,
.article-formatted-body h5 code,
.article-formatted-body h6 code {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-family:Fira Sans,sans-serif;
  font-size:.9375rem;
  font-weight:500
}
.article-formatted-body:after {
  content:"";
  display:block;
  clear:both
}


:lang(ru) {
    quotes: "«" "»";
}